openapi: 3.0.4
info:
  title: Indey.API
  description: Остальные для API-интерфейса проекта Indey — набора базовых инструментов для начинающих предпринимателей, с ограниченным бюджетом для разработки и внедрения цифровых продуктов.
  termsOfService: https://indey.dev/terms
  contact:
    email: dev@indey.dev
  license:
    name: MIT
    url: https://opensource.org/license/mit
  version: 1.0.0
servers:
  - url: https://indey.dev/api/v1
tags:
  - name: home
    description: Описание REST API Indey
  - name: form
    description: Управление формами
  - name: order
    description: Управление заказами
  - name: product
    description: Управление продуктами
  - name: service
    description: Управление услугами
  - name: role
    description: Управление группами пользователей
  - name: user
    description: Управление пользователями
paths:
  /api/v1/:
    options:
      tags:
        - home
      description: Получен отчет о разносторонних исследованиях, отчет о разносторонних методах для получения информации в Индии.интерфейс прикладного программирования
      responses:
        '200':
          description: Запрос успешно обработан сервером
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
              description: Измененные политические взгляды других людей
            Access-Control-Allow-Methods:
              schema:
                type: string
              description: Измененные полисные коды методов (ОПЦИИ, ПОЛУЧИТЬ)
            Access-Control-Allow-Headers:
              schema:
                type: string
              description: Расширенные поля для загрузки (Accept, Accept-Кодировка, Авторизация, Content-Длина, Content-тип)
            Access-Control-Allow-Credentials:
              schema:
                type: string
              description: Разрешена ли политикой CORS, так пересылка данных защищённых ключами доступа (правда)
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Response'
              example:
                response:
                  Successful operation
        '500':
          description: Сервер не может обработать этот запрос
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Response'
              example:
                response:
                  Internal server error
    get:
      tags:
        - home
      description: Вывод информации для работы с RESTfull API
      responses:
        '200':
          description: Запрос успешно обработан сервером
          content:
            text/html:
              schema:
                type: string
              examples:
                resourceExample:
                  summary: Текущая документация
                  value:
                    downloadUrl: https://indey.dev/api
        '500':
          description: Сервер не может обработать этот запрос
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Response'
              example:
                response:
                  Internal server error
  /api/v1/form:
    options:
      tags:
        - form
      summary: Получить все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsForm
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Form'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - form
      summary: Получить информацию о заполненных формах.
      description: Этот маршрут используется для получения списка форм с подробной информацией, если разрешен действительный запрос текущего пользователя.
      operationId: GetForms
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'
        '401':
          description: Неавторизованному пользователю или пользователю без разрешения "выбрать:все:форму" или "выбрать:собственную:форму" выполнение операции запрещено
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось найти пользователя с запрошенным "uid"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    post:
      tags:
        - form
      summary: Создать новую форму
      description: Этот маршрут используется для создания форм по очереди, если разрешен действительный запрос текущего пользователя.
      operationId: CreateForm
      security:
        - sd_rest_auth: []
      responses:
        '201':
          description: успешное создание
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Form'
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "вставить:собственную:форму" или "вставить:все:формы".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен недопустимый объект формы, что приводит к ошибке "Объект не поддается обработке"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удается сохранить объект формы в базе данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/form/{id}:
    options:
      tags:
        - form
      summary: Получить все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsForm
      responses:
        '200':
          description: Операция прошла успешно
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Form'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - form
      summary: Получить информацию о форме с id.
      description: Этот маршрут используется для получения информации о форме, если разрешен допустимый запрос текущего пользователя.
      operationId: GetForm
      parameters:
        - name: id
          in: path
          description: id формы в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная работа
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Form'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "выбрать:все:формы" или "выбрать:собственную:форму"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '404':
          description: Не удалось найти форму с запрошенным "id"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: status not found
    post:
      tags:
        - form
      summary: Создать новую форму с id.
      description: Этот маршрут используется для получения формы с id, если разрешен действительный запрос текущего пользователя.
      operationId: CreateFormWithID
      parameters:
        - name: id
          in: path
          description: id формы в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Form'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция не разрешена для неавторизованного пользователя или пользователя без разрешения "вставить:все:форму" или "вставить:собственную:форму"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен неверный объект формы, который ведет к ошибке "Объект, который невозможно обработать".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить форму с запрошенным "id"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    put:
      tags:
        - form
      summary: Обновите информацию о форме с id.
      description: Этот маршрут используется для задания объекта формы с id, если разрешен действительный запрос текущего пользователя.
      operationId: UpdateForm
      parameters:
        - name: id
          in: path
          description: id формы в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Form'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция не разрешена для неавторизованного пользователя или пользователя без разрешения "обновить:все:формы" или "обновить:собственную:форму"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Был отправлен неверный объект формы, который ведет к ошибке "Необработанная сущность"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить форму с запрошенным id
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    delete:
      tags:
        - form
      summary: Удалите пользователя с id.
      description: Этот маршрут используется для удаления формы с id, если разрешен действительный запрос текущего пользователя.
      operationId: DeleteForm
      parameters:
        - name: id
          in: path
          description: id формы в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная работа
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Home'
              example:
                text: Form has been successfully deleted
              
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "удалить:все:формы" или "удалить:собственную:форму"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось удалить форму из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/form/page/{page}:
    options:
      tags:
        - form
      summary: Получите все приемлемые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsForm
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Form'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - form
      summary: Получите информацию о формах (вплоть до "FORM_LIST_PAGE_LIMIT" на странице).
      description: Этот маршрут используется для получения форм, если разрешен действительный запрос текущего пользователя.
      operationId: GetFormList
      parameters:
        - name: page
          in: path
          description: Номер страницы списка форм
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'
        '400':
          description: Параметр "страница" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователей без разрешения "выбрать:все:форма"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Переменная "FORM_LIST_PAGE_LIMIT" не может быть получена из файла .env или данные формы не могут быть получены из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/order:
    options:
      tags:
        - order
      summary: Получить все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsOrder
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Order'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - order
      summary: Получить информацию о заполненных заказах.
      description: Этот маршрут используется для получения списка форм с подробной информацией, если разрешен действительный запрос текущего пользователя.
      operationId: GetOrders
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '401':
          description: Неавторизованному пользователю или пользователю без разрешения "выбрать:все:заказ" или "выбрать:собственную:заказ" выполнение операции запрещено
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось найти пользователя с запрошенным "uid"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    post:
      tags:
        - order
      summary: Создать новую заказ
      description: Этот маршрут используется для создания форм по очереди, если разрешен действительный запрос текущего пользователя.
      operationId: CreateOrder
      security:
        - sd_rest_auth: []
      responses:
        '201':
          description: успешное создание
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Order'
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "вставить:собственную:заказ" или "вставить:все:заказ".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен недопустимый объект заказа, что приводит к ошибке "Объект не поддается обработке"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удается сохранить объект заказа в базе данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/order/{id}:
    options:
      tags:
        - order
      summary: Получить все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsOrder
      responses:
        '200':
          description: Операция прошла успешно
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Order'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - order
      summary: Получить информацию о заказе с id.
      description: Этот маршрут используется для получения информации о заказе, если разрешен допустимый запрос текущего пользователя.
      operationId: GetOrder
      parameters:
        - name: id
          in: path
          description: id заказа в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная работа
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Order'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "выбрать:все:заказ" или "выбрать:собственную:заказ"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '404':
          description: Не удалось найти заказ с запрошенным "id"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: status not found
    post:
      tags:
        - order
      summary: Создать новую заказ с id.
      description: Этот маршрут используется для получения заказа с id, если разрешен действительный запрос текущего пользователя.
      operationId: CreateOrderWithID
      parameters:
        - name: id
          in: path
          description: id заказа в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция не разрешена для неавторизованного пользователя или пользователя без разрешения "вставить:все:заказ" или "вставить:собственную:заказ"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен неверный объект заказа, который ведет к ошибке "Объект, который невозможно обработать".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить заказ с запрошенным "id"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    put:
      tags:
        - order
      summary: Обновите информацию о заказе с id.
      description: Этот маршрут используется для задания объекта заказа с id, если разрешен действительный запрос текущего пользователя.
      operationId: UpdateOrder
      parameters:
        - name: id
          in: path
          description: id заказа в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция не разрешена для неавторизованного пользователя или пользователя без разрешения "обновить:все:заказа" или "обновить:собственную:заказ"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Был отправлен неверный объект заказа, который ведет к ошибке "Необработанная сущность"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить заказ с запрошенным id
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    delete:
      tags:
        - order
      summary: Удалите пользователя с id.
      description: Этот маршрут используется для удаления заказа с id, если разрешен действительный запрос текущего пользователя.
      operationId: DeleteOrder
      parameters:
        - name: id
          in: path
          description: id заказа в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная работа
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Home'
              example:
                text: Order has been successfully deleted
              
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "удалить:все:заказа" или "удалить:собственную:заказ"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось удалить заказ из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/order/page/{page}:
    options:
      tags:
        - order
      summary: Получите все приемлемые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsOrder
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Order'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - order
      summary: Получите информацию о заказах (вплоть до "ORDER_LIST_PAGE_LIMIT" на странице).
      description: Этот маршрут используется для получения форм, если разрешен действительный запрос текущего пользователя.
      operationId: GetOrderList
      parameters:
        - name: page
          in: path
          description: Номер страницы списка форм
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          description: Параметр "страница" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователей без разрешения "выбрать:все:заказ"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Переменная "ORDER_LIST_PAGE_LIMIT" не может быть получена из файла .env или данные заказа не могут быть получены из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/product:
    options:
      tags:
        - product
      summary: Получить все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsProduct
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Product'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - product
      summary: Получить информацию о продуктах.
      description: Этот маршрут используется для получения списка продуктов с подробной информацией, если разрешен действительный запрос текущего пользователя.
      operationId: GetProducts
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '401':
          description: Неавторизованному пользователю или пользователю без разрешения "выбрать:все:продукт" или "выбрать:собственную:продукт" выполнение операции запрещено
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось найти пользователя с запрошенным "uid"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    post:
      tags:
        - product
      summary: Создать новый продукт
      description: Этот маршрут используется для создания продукта, если разрешен действительный запрос текущего пользователя.
      operationId: CreateProduct
      security:
        - sd_rest_auth: []
      responses:
        '201':
          description: успешное создание
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Product'
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "вставить:собственную:продукт" или "вставить:все:продукт".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен недопустимый объект продукта, что приводит к ошибке "Объект не поддается обработке"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удается сохранить объект продукта в базе данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/product/{id}:
    options:
      tags:
        - product
      summary: Получить все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsProduct
      responses:
        '200':
          description: Операция прошла успешно
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Product'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - product
      summary: Получить информацию о продукте с id.
      description: Этот маршрут используется для получения информации о продукте, если разрешен допустимый запрос текущего пользователя.
      operationId: GetProduct
      parameters:
        - name: id
          in: path
          description: id продукта в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная работа
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Product'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "выбрать:все:продукт" или "выбрать:собственную:продукт"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '404':
          description: Не удалось найти продукт с запрошенным "id"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: status not found
    post:
      tags:
        - product
      summary: Создать новый продукт с id.
      description: Этот маршрут используется для получения продукта с id, если разрешен действительный запрос текущего пользователя.
      operationId: CreateProductWithID
      parameters:
        - name: id
          in: path
          description: id продукта в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Product'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция не разрешена для неавторизованного пользователя или пользователя без разрешения "вставить:все:продукт" или "вставить:собственную:продукт"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен неверный объект продукта, который ведет к ошибке "Объект, который невозможно обработать".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить продукт с запрошенным "id"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    put:
      tags:
        - product
      summary: Обновить информацию о продукте с id.
      description: Этот маршрут используется для задания объекта продукта с id, если разрешен действительный запрос текущего пользователя.
      operationId: UpdateProduct
      parameters:
        - name: id
          in: path
          description: id продукта в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Product'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция не разрешена для неавторизованного пользователя или пользователя без разрешения "обновить:все:продукта" или "обновить:собственную:продукт"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Был отправлен неверный объект продукта, который ведет к ошибке "Необработанная сущность"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить продукт с запрошенным id
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    delete:
      tags:
        - product
      summary: Удалите пользователя с id.
      description: Этот маршрут используется для удаления продукта с id, если разрешен действительный запрос текущего пользователя.
      operationId: DeleteProduct
      parameters:
        - name: id
          in: path
          description: id продукта в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная работа
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Home'
              example:
                text: Product has been successfully deleted
              
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "удалить:все:продукта" или "удалить:собственную:продукт"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось удалить продукт из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/product/page/{page}:
    options:
      tags:
        - product
      summary: Получите все приемлемые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsProduct
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Product'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - product
      summary: Получите информацию о продуктах (вплоть до "PRODUCT_LIST_PAGE_LIMIT" на странице).
      description: Этот маршрут используется для получения форм, если разрешен действительный запрос текущего пользователя.
      operationId: GetProductList
      parameters:
        - name: page
          in: path
          description: Номер страницы списка форм
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '400':
          description: Параметр "страница" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователей без разрешения "выбрать:все:продукт"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Переменная "PRODUCT_LIST_PAGE_LIMIT" не может быть получена из файла .env или данные продукта не могут быть получены из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/role:
    options:
      tags:
        - role
      summary: Получить все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: Role
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Role'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - role
      summary: Получить информацию о ролях.
      description: Этот маршрут используется для получения списка ролей с подробной информацией, если разрешен действительный запрос текущего пользователя.
      operationId: Roles
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'
        '401':
          description: Неавторизованному пользователю или пользователю без разрешения "выбрать:все:роль" или "выбрать:собственную:роль" выполнение операции запрещено
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось найти пользователя с запрошенным "uid"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    post:
      tags:
        - role
      summary: Создать новый роль
      description: Этот маршрут используется для создания роли, если разрешен действительный запрос текущего пользователя.
      operationId: Role
      security:
        - sd_rest_auth: []
      responses:
        '201':
          description: успешное создание
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Role'
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "вставить:собственную:роль" или "вставить:все:роль".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен недопустимый объект роли, что приводит к ошибке "Объект не поддается обработке"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удается сохранить объект роли в базе данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/role/{id}:
    options:
      tags:
        - role
      summary: Получить все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: Role
      responses:
        '200':
          description: Операция прошла успешно
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Role'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - role
      summary: Получить информацию о роле с id.
      description: Этот маршрут используется для получения информации о роле, если разрешен допустимый запрос текущего пользователя.
      operationId: Role
      parameters:
        - name: id
          in: path
          description: id роли в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная работа
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Role'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "выбрать:все:роль" или "выбрать:собственную:роль"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '404':
          description: Не удалось найти роль с запрошенным "id"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: status not found
    post:
      tags:
        - role
      summary: Создать новый роль с id.
      description: Этот маршрут используется для получения роли с id, если разрешен действительный запрос текущего пользователя.
      operationId: RoleWithID
      parameters:
        - name: id
          in: path
          description: id роли в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Role'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция не разрешена для неавторизованного пользователя или пользователя без разрешения "вставить:все:роль" или "вставить:собственную:роль"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен неверный объект роли, который ведет к ошибке "Объект, который невозможно обработать".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить роль с запрошенным "id"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    put:
      tags:
        - role
      summary: Обновить информацию о роле с идентификатором.
      description: Этот маршрут используется для задания объекта роли с идентификатором, если разрешен действительный запрос текущего пользователя.
      operationId: Role
      parameters:
        - name: id
          in: path
          description: id роли в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Role'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция не разрешена для неавторизованного пользователя или пользователя без разрешения "обновить:все:роли" или "обновить:собственную:роль"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Был отправлен неверный объект роли, который ведет к ошибке "Необработанная сущность"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить роль с запрошенным идентификатором
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    delete:
      tags:
        - role
      summary: Удалите пользователя с идентификатором.
      description: Этот маршрут используется для удаления роли с идентификатором, если разрешен действительный запрос текущего пользователя.
      operationId: Role
      parameters:
        - name: id
          in: path
          description: id роли в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная работа
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Home'
              example:
                text: Role has been successfully deleted
              
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "удалить:все:роли" или "удалить:собственную:роль"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось удалить роль из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/service:
    options:
      tags:
        - service
      summary: Получить все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsService
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Service'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - service
      summary: Получить информацию о сервисах.
      description: Этот маршрут используется для получения списка сервисов с подробной информацией, если разрешен действительный запрос текущего пользователя.
      operationId: GetServices
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
        '401':
          description: Неавторизованному пользователю или пользователю без разрешения "выбрать:все:сервис" или "выбрать:собственную:сервис" выполнение операции запрещено
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось найти пользователя с запрошенным "uid"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    post:
      tags:
        - service
      summary: Создать новый сервис
      description: Этот маршрут используется для создания сервиса, если разрешен действительный запрос текущего пользователя.
      operationId: CreateService
      security:
        - sd_rest_auth: []
      responses:
        '201':
          description: успешное создание
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Service'
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "вставить:собственную:сервис" или "вставить:все:сервис".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен недопустимый объект сервиса, что приводит к ошибке "Объект не поддается обработке"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удается сохранить объект сервиса в базе данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/service/{id}:
    options:
      tags:
        - service
      summary: Получить все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsService
      responses:
        '200':
          description: Операция прошла успешно
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Service'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - service
      summary: Получить информацию о сервисе с id.
      description: Этот маршрут используется для получения информации о сервисе, если разрешен допустимый запрос текущего пользователя.
      operationId: GetService
      parameters:
        - name: id
          in: path
          description: id сервиса в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная работа
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Service'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "выбрать:все:сервис" или "выбрать:собственную:сервис"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '404':
          description: Не удалось найти сервис с запрошенным "id"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: status not found
    post:
      tags:
        - service
      summary: Создать новый сервис с id.
      description: Этот маршрут используется для получения сервиса с id, если разрешен действительный запрос текущего пользователя.
      operationId: CreateServiceWithID
      parameters:
        - name: id
          in: path
          description: id сервиса в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Service'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция не разрешена для неавторизованного пользователя или пользователя без разрешения "вставить:все:сервис" или "вставить:собственную:сервис"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен неверный объект сервиса, который ведет к ошибке "Объект, который невозможно обработать".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить сервис с запрошенным "id"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    put:
      tags:
        - service
      summary: Обновить информацию о сервисе с id.
      description: Этот маршрут используется для задания объекта сервиса с id, если разрешен действительный запрос текущего пользователя.
      operationId: UpdateService
      parameters:
        - name: id
          in: path
          description: id сервиса в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Service'
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция не разрешена для неавторизованного пользователя или пользователя без разрешения "обновить:все:сервиса" или "обновить:собственную:сервис"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Был отправлен неверный объект сервиса, который ведет к ошибке "Необработанная сущность"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить сервис с запрошенным id
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    delete:
      tags:
        - service
      summary: Удалите пользователя с id.
      description: Этот маршрут используется для удаления сервиса с id, если разрешен действительный запрос текущего пользователя.
      operationId: DeleteService
      parameters:
        - name: id
          in: path
          description: id сервиса в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная работа
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Home'
              example:
                text: Service has been successfully deleted
              
        '400':
          description: Параметр "id" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "удалить:все:сервиса" или "удалить:собственную:сервис"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось удалить сервис из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/service/page/{page}:
    options:
      tags:
        - service
      summary: Получите все приемлемые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsService
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/Service'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - service
      summary: Получите информацию о сервисах (вплоть до "PRODUCT_LIST_PAGE_LIMIT" на странице).
      description: Этот маршрут используется для получения форм, если разрешен действительный запрос текущего пользователя.
      operationId: GetServiceList
      parameters:
        - name: page
          in: path
          description: Номер страницы списка форм
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
        '400':
          description: Параметр "страница" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователей без разрешения "выбрать:все:сервис"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Переменная "PRODUCT_LIST_PAGE_LIMIT" не может быть получена из файла .env или данные сервиса не могут быть получены из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/user:
    options:
      tags:
        - user
      summary: Получите все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для доступа ко всем разрешенным HTTP-методам.
      operationId: OptionsUser
      responses:
        '200':
          description: Успешной работы
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/User'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - user
      summary: Получите информацию о пользователях (вплоть до "USER_LIST_PAGE_LIMIT" от первого зарегистрированного).
      description: Этот маршрут используется для получения доступа к пользователям, если разрешен действительный запрос текущего пользователя.
      operationId: GetUsers
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователей без разрешения "выбрать:все:пользователь"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Переменная "FORM_LIST_PAGE_LIMIT" не может быть получена из файла .env или данные пользователей не могут быть получены из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    post:
      tags:
        - user
      summary: Создайте нового пользователя
      description: Этот маршрут используется для создания пользователей по одному, если разрешен действительный запрос текущего пользователя.
      operationId: CreateUser
      security:
        - sd_rest_auth: []
      responses:
        '201':
          description: успешное создание
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/User'
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "вставить:все:пользователь".
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Был отправлен недопустимый пользовательский объект, который является ссылкой на ошибку unprocessable entity
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удается сохранить пользовательский объект в базе данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/user/{uid}:
    options:
      tags:
        - user
      summary: Получите все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsUser
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/User'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - user
      summary: Получите информацию о пользователе с id.
      description: Этот маршрут используется для получения информации о пользователе, если разрешен действительный запрос текущего пользователя.
      operationId: GetUser
      parameters:
        - name: uid
          in: path
          description: id пользователя в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/User'
        '400':
          description: Параметр "uid" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "select:all:user" или "select:own:user"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '404':
          description: Не удалось найти пользователя с запрошенным "uid"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: status not found
    post:
      tags:
        - user
      summary: Создайте нового пользователя с id.
      description: Этот маршрут используется для получения доступа к пользователям, если разрешен действительный запрос текущего пользователя.
      operationId: CreateUserWithID
      parameters:
        - name: uid
          in: path
          description: id пользователя в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/User'
        '400':
          description: Параметр "uid" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "select:all:user" или "select:own:user"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Был отправлен недопустимый пользовательский объект, который является ошибкой "доступ к необрабатываемому объекту"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить пользователя с запрошенным "uid"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    put:
      tags:
        - user
      summary: Обновите информацию о пользователе с id.
      description: Этот маршрут используется для обновления идентификатора объекта user, если разрешен действительный запрос текущего пользователя.
      operationId: UpdateUser
      parameters:
        - name: uid
          in: path
          description: id пользователя в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/User'
        '400':
          description: Параметр "uid" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователей без разрешения 'обновить:все:пользователь' или 'обновить:самостоятельно:пользователь'
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Отправлен неверный пользовательский объект, который ведет к ошибке unprocessable entity
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось сохранить пользователя с запрошенным uid
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
    delete:
      tags:
        - user
      summary: Удалите пользователя с id.
      description: Этот маршрут используется для удаления пользователя, если разрешен действительный запрос текущего пользователя.
      operationId: DeleteUser
      parameters:
        - name: uid
          in: path
          description: id пользователя в базе данных
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Home'
              example:
                text: User has been successfully deleted
              
        '400':
          description: Параметр "uid" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователя без разрешения "удалить:все:пользователя" или "удалить:собственный:пользователь"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Не удалось удалить пользователя из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/user/auth:
    options:
      tags:
        - user
      summary: Получите все допустимые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для доступа ко всем разрешенным HTTP-методам.
      operationId: OptionsUser
      responses:
        '200':
          description: Успешной работы
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/User'
                example:
                  text:
                    Permitted options has been gotten
    post:
      tags:
        - user
      summary: Аутентификация пользователя с помощью электронной почты или пары электронной почты и пароля
      description: Этот маршрут используется для создания пользователей по одному, если разрешен действительный запрос текущего пользователя.
      operationId: CreateOneTimePassword / CheckPassword
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Операция выполнена успешно
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    $ref: '#/components/schemas/Home'
                  - type: object
                    $ref: '#/components/schemas/User'
              example:
                text: One time password was sent by email
        '401':
          description: — / Неверна пара пароль и адрес электронной почты или не удалось создать токен для сеанса пользователя
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: — / Отправлен неверный пользовательский объект, который ведет к ошибке unprocessable entity
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось создать новый пароль или отправить его по электронной почте / Не удалось найти пользователя с адресом электронной почты и паролем
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/user/auth/onetime:
    options:
      tags:
        - user
      summary: Получите все приемлемые методы для HTTP-запросов (для всех сущностей).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsUser
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/User'
                example:
                  text:
                    Permitted options has been gotten
    post:
      tags:
        - user
      summary: Выполните аутентификацию пользователя с помощью электронной почты или пары адресов электронной почты и пароля
      description: Этот маршрут используется для создания пользователей по одному, если разрешен действительный запрос текущего пользователя.
      operationId: CheckPasswordAndGenerateNewOne
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/User'
        '401':
          description: Пароль и адрес электронной почты неверны или не удалось создать токен для сеанса пользователя
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '422':
          description: Был отправлен неверный пользовательский объект, что является ошибкой перехода к объекту, не подлежащему обработке
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unprocessable entity
        '500':
          description: Не удалось найти пользователя с адресом электронной почты и паролем, или не удалось прочитать переменную "MAINTAIN_PASSWORD_LENGTH" из файла ".env", или не удалось найти пользователя с id
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
  /api/v1/user/page/{page}:
    options:
      tags:
        - user
      summary: Получите все приемлемые методы для HTTP-запросов (для всех объектов).
      description: Этот маршрут используется для получения всех разрешенных HTTP-методов.
      operationId: OptionsUser
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: string
                items:
                  $ref: '#/components/schemas/User'
                example:
                  text:
                    Permitted options has been gotten
    get:
      tags:
        - user
      summary: Получите информацию о пользователях (вплоть до "USER_LIST_PAGE_LIMIT" на странице).
      description: Этот маршрут используется для получения доступа к пользователям, если разрешен действительный запрос текущего пользователя.
      operationId: GetUserList
      parameters:
        - name: page
          in: path
          description: Номер страницы списка пользователей
          required: true
          style: simple
          schema:
            type: number
      security:
        - sd_rest_auth: []
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          description: Параметр "страница" недопустим для запроса
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: bad request
        '401':
          description: Операция запрещена для неавторизованного пользователя или пользователей без разрешения "select:all:user"
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: unauthorized
        '500':
          description: Переменная "USER_LIST_PAGE_LIMIT" не может быть получена из файла .env или данные пользователей не могут быть получены из базы данных
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
              example:
                error: internal server error
components:
  schemas:
    Response:
      type: object
      properties:
        response:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
      required:
        - error
    Form:
      type: object
      properties:
        id:
          type: number
        type:
          type: string
        data:
          oneOf:
            - $ref: '#/components/schemas/CallbackForm'
            - $ref: '#/components/schemas/CareerForm'
            - $ref: '#/components/schemas/NewsletterForm'
            - $ref: '#/components/schemas/QuestionnaireForm'
            - $ref: '#/components/schemas/TestimonialForm'
            - $ref: '#/components/schemas/WritetousForm'
        author:
          type: object
          $ref: '#/components/schemas/User'
        created_at:
          type: string
        updated_at:
          type: string
    Home:
      type: object
      properties:
        text:
          type: string
    Order:
      type: object
      properties:
        id:
          type: number
        type:
          type: string
        data:
          oneOf:
            - $ref: '#/components/schemas/ProductOrder'
            - $ref: '#/components/schemas/ServiceOrder'
        author:
          type: object
          $ref: '#/components/schemas/User'
        created_at:
          type: string
        updated_at:
          type: string
    Product:
      type: object
      properties:
        id:
          type: number
        data:
          type: object
        author:
          type: object
          $ref: '#/components/schemas/User'
        created_at:
          type: string
        updated_at:
          type: string
    Role:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
    Service:
      type: object
      properties:
        id:
          type: number
        data:
          type: object
        author:
          type: object
          $ref: '#/components/schemas/User'
        created_at:
          type: string
        updated_at:
          type: string
    User:
      type: object
      properties:
        id:
          type: number
        email:
          type: string
        password:
          type: string
        data:
          type: object
          properties:
            state:
              type: string
              default: non-determined
            nickname:
              type: string
              default: default
        created_at:
          type: string
        updated_at:
          type: string
    CallbackForm:
      type: object
      properties:
        callback-title:
          type: string
        callback-phone:
          type: string
        callback-name:
          type: string
        callback-time:
          type: string
    CareerForm:
      type: object
      properties:
        career-first-name:
          type: string
        career-last-name:
          type: string
        career-email:
          type: string
        career-phone:
          type: string
        career-file:
          type: string
        career-address-1:
          type: string
        career-address-2:
          type: string
        career-city:
          type: string
        career-state:
          type: string
        career-zip-code:
          type: string
    NewsletterForm:
      type: object
      properties:
        newsletter-title:
          type: string
        newsletter-name:
          type: string
        newsletter-email:
          type: string
    QuestionnaireForm:
      type: object
      properties:
        questionnaire-first-name:
          type: string
        questionnaire-last-name:
          type: string
        questionnaire-email:
          type: string
        questionnaire-phone:
          type: string
        questionnaire-address:
          type: string
        questionnaire-city:
          type: string
        questionnaire-state:
          type: string
        questionnaire-zip-code:
          type: string
        questionnaire-answers:
          type: array
          items:
            type: string
    TestimonialForm:
      type: object
      properties:
        testimonial-subject:
          type: string
        testimonial-review:
          type: string
        testimonial-name:
          type: string
        testimonial-email:
          type: string
        testimonial-service:
          type: string
        testimonial-file:
          type: string
    WritetousForm:
      type: object
      properties:
        writetous-subject:
          type: string
        writetous-text:
          type: string
        writetous-title:
          type: string
        writetous-first-name:
          type: string
        writetous-last-name:
          type: string
        writetous-email:
          type: string
    ProductOrder:
      type: object
      properties:
        product-title:
          type: string
        product-id:
          type: number
    ServiceOrder:
      type: object
      properties:
        service-title:
          type: string
        service-id:
          type: number
  requestBodies:
    User:
      description: User model
      content:
        application/json:
          schema:
            type: array
            $ref: '#/components/schemas/User'
